<ngb-alert *ngIf="isMessageVisible" novalidate type="success" [dismissible]="false">
  Product data updated successfully
</ngb-alert>
<form [formGroup]="userForm" class="needs-validation" novalidate (ngSubmit)="onFormSubmit(userForm.value)">

  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" id="name" formControlName="name" [ngClass]="{'form-control':true,'is-invalid':!userForm.get('name').valid && userForm.get('name').touched}">
    <div class="invalid-feedback" *ngIf="!userForm.get('name').valid && userForm.get('name').touched">Please enter ProductID</div>
  </div>
  <div class="form-group">
    <label for="category">Category</label>
    <select id="category" formControlName="category" [ngClass]="{'form-control':true,'is-invalid':!userForm.get('category').valid && userForm.get('category').touched}">
      <option selected disabled>Please select</option>
      <option>Concrete Pole</option>
      <option>Transmission Pole</option>
    </select>
    <div class="invalid-feedback" *ngIf="!userForm.get('category').valid && userForm.get('category').touched">Please enter Category</div>
  </div>

  <div class="form-group">
    <label for="productid">ProductID</label>
    <input type="text" id="productid" formControlName="productid" [ngClass]="{'form-control':true,'is-invalid':!userForm.get('productid').valid && userForm.get('productid').touched}">
    <div class="invalid-feedback" *ngIf="!userForm.get('productid').valid && userForm.get('productid').touched">Please enter ProductID</div>
  </div>

  <div class="form-group">
    <label for="desc">Desc</label>
    <input type="text" id="desc" formControlName="desc" [ngClass]="{'form-control':true,'is-invalid':!userForm.get('desc').valid && userForm.get('desc').touched}">
    <div class="invalid-feedback" *ngIf="!userForm.get('desc').valid && userForm.get('desc').touched">Please enter ProductID</div>
  </div>


  <div class="form-group">
    <div *ngIf="userForm.get('photo').value" class="p-2">
      <img src="{{userForm.get('photo').value}}" class="w-25"/>
    </div>
    <input type="hidden" formControlName="photo"/>
    <label for="photo">Photo</label>
    <div class="input-group">
      <input type="file" id="photo" ng2FileSelect [uploader]="uploader" class="form-control" accept="image/*">
      <div class="input-group-append">
        <button type="button" class="btn btn-success btn-s"
                (click)="uploader.uploadAll()"
                [disabled]="!uploader.getNotUploadedItems().length" >
          Upload a Picture
        </button>
      </div>
    </div>
  </div>
  <div class="form-group text-right">
    <button type="submit" class="btn btn-outline-primary" routerLink="/users">Back</button>
    <button type="submit" class="btn btn-primary ml-1" [disabled]="userForm.invalid">Submit</button>
  </div>
</form>
